//padding variables
$padding-extrasmall: 5px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

//margin variables
$margin-extrasmall: 7.5px;
$margin-small: 15px;
$margin-medium: 30px;
$margin-large: 50px;