@import '../base/variables.scss';
@import '../base/typography.scss';

.container{
    background-color: $navy;
    height: 100vh;
    width: 100vw;
    padding: $padding-large;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $overlay;
        width: 100%;
        height: 95%;
        border-radius: 20px;

    }
    
    h1{
        color: white;
    }
}

@keyframes spin{
    50%{
        transform: rotate(190deg);
    }
}