@import '../../../styles/base/typography';
@import '../../../styles/base/variables';


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    padding: 0px $padding-small;
    border-right: 0.5px solid $lightgrey;

    p{
        font-size: 13px;
    }

    .condition{
        height: 35px;
    }

    span{
        color: $grayishwhite;

        h3{
            display: inline;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.5px;
        }

        .icon{
            display: inline;
            font-size: 8px;
            margin-bottom: $margin-extrasmall;
        }
    }

}