@import "../../styles/base/typography";
@import "../../styles/base/variables";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $padding-medium $padding-extrasmall;
    border-bottom: 0.5px solid $lightgrey;

    p{
        font-size: 13px;
    }

    h4{
        color: $grayishwhite;
        font-size: 13px;
    }

    .conditionSpan{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grayishwhite;
        text-transform: capitalize;
        
        img{
            width: 0px;
        }
    }

    .tempSpan{
        display: flex;
    }
}